@import '@/styles/_breakpoints.scss';

.auth {
  img {
    position: fixed;
    z-index: -1;
    bottom: -25%;
    left: 0;
    width: 100%;
    background-position: center;
    object-fit: contain;

    @include sm {
      bottom: 0;
    }

    @include md {
      bottom: 0;
    }
  }
}
