<section class="services">
    <div class="title_and_description">
        <h1>What We Do</h1>
        <p>At Akuafo Adamfo, we are committed to delivering a comprehensive range of services specifically designed to address the diverse and evolving challenges faced by modern farmers.</p>
    </div>

    <div class="service_cards">
        @for (service of services; track $index) {
            <service-card [service]="service" />
        }
    </div>

    <div class="see_all_services">
        <app-button text="See all Services" />
    </div>
</section>