@import '../../styles/mixins';
@import '@/styles/_breakpoints.scss';

.services {
  padding: 48px 40px;

  @include small_screen_padding;
  
  .title_and_description {
    @include title_and_description;
  }

  .service_cards {
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-bottom: 20px;

    @include max-md {
      // gap: 5px;
    }

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  .see_all_services {
    display: flex;
    justify-content: flex-end;
  }
}
