@import "../../styles/mixins";
@import "@/styles/_breakpoints.scss";

.why_choose_us {
  background-color: #f9ffec;
  padding: 70px 40px;

  .title_and_description {
    @include title_and_description;
  }

  .reasons {
    @include xxl {
      width: 1364px;
      margin: 0 auto;
    }
  }
}
