<div class="signup">
    <div class="signup_form">
        <form [formGroup]="signupForm">
            <h3>Create a free account</h3>

            <!--email-->
            <app-input
                formControlName="email"
                label="Email"
                placeholder="Enter your email"
                icon="assets/images/email.svg"
                [invalidInputMessage]="emailNotProvided ? 'Required': emailInvalid ? 'Invalid email' : ''"
            />

            <!--password-->
            <app-input
                formControlName="password"
                label="Password"
                placeholder="Enter your password"
                icon="assets/images/password.svg"
                [invalidInputMessage]="passwordNotProvided ? 'Required': passwordCriteriaMismatch ? 'At least one number, one upper and lower case and special character required. Minimum of 8 characters' : ''"
            />

            <!-- first name-->
            <app-input
                formControlName="firstName"
                label="First Name"
                placeholder="Enter your first name"
                icon="assets/images/person.png"
                [invalidInputMessage]="firstNameNotProvided ? 'Required': ''"
            />

             <!-- last name-->
            <app-input
                formControlName="lastName"
                label="Last Name"
                placeholder="Enter your last name"
                icon="assets/images/person.png"
                [invalidInputMessage]="lastNameNotProvided ? 'Required': ''"
            />

             <!-- location -->
            <app-input
                formControlName="location"
                label="Location"
                placeholder="Enter your location"
                icon="assets/images/location.png"
                [invalidInputMessage]="locationNotProvided ? 'Required': ''"
            />

             <!-- telephone -->
            <app-input
                formControlName="telephoneNumber"
                label="Phone"
                placeholder="Enter your phone"
                icon="assets/images/phone.png"
                [invalidInputMessage]="phoneNotProvided ? 'Required': phoneNumberInvalid ? 'Invalid number' : ''"
            />
            
            <app-button
                text="Create Account"
                size="large"
                (clickEvent)="handleSignup()"
                [isDisabled]="!isSignupFormValid()"
            />
        </form>

    </div>
</div>