@import "@/styles/_variables.scss";
@import "@/styles/_breakpoints.scss";

.reason_card {
  display: flex;
  gap: 32px;
  margin-bottom: 64px;

  @include max-md {
    flex-direction: column !important;
    gap: 0;
    margin-bottom: 48px;
  }

  @include md {
    flex-direction: column !important;
    gap: 0;
    margin-bottom: 40px;
  }

  img {
    width: 671px;

    @include max-md {
      width: 100%;
    }

    @include md {
      width: 100%;
    }
  }

  .reason {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include md {
      padding: 0 8px;
    }

    p.title {
      font-size: $--24px;

      @include max-md {
        margin: 24px 0 0;
      }

      @include md {
        margin: 32px 0 0;
      }
    }

    p.description {
      line-height: $--32px;
    }
  }
}
