@import "@/styles/_variables.scss";
@import "@/styles/_breakpoints.scss";

.service_card {
  width: 300px;
  height: 300px;
  border-radius: 16px;
  position: relative;

  @include max-md {
    width: 250px;
    height: 250px;
  }

  .service_img {
    width: 300px;
    height: 300px;
    border-radius: 16px;
    transition: scale 0.3s ease-out;

    @include max-md {
      width: 250px;
      height: 250px;
    }

    &:hover {
      scale: 1.02;
    }
  }

  .service_name {
    position: absolute;
    bottom: 24px;
    left: 16px;
    color: white;
    font-size: $--18px;

    @include max-md {
      bottom: 10px;
    }
  }

  .goto_service {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 24px;
    right: 16px;

    &:hover {
      cursor: pointer;
    }
  }
}
