@import "../../styles/mixins";
@import "@/styles/_variables.scss";
@import "@/styles/_breakpoints.scss";

.contacts {
  padding: 60px;
  background-color: white;

  @include small_screen_padding;

  .content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    text-align: center;

    @include max-md {
      width: 100%;
    }

    @include xxl {
      width: 1050px;
    }

    p.motto,
    p.mission {
      font-weight: 500;
      margin: 0;
    }

    h1 {
      font-weight: 600;
      font-size: $--32px;
      margin: 0;
    }

    p.copyright {
      margin-bottom: 60px;
    }
  }

  footer {
    width: 80%;
    margin: 0 auto;
    border-top: 1px solid rgb(161, 161, 161);
    padding: 38px 0;
    display: flex;
    justify-content: space-between;

    @include max-md {
      width: 100%;
      padding: 30px 0;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }

    nav ul {
      list-style: none;
      display: flex;
      gap: 32px;

      @include max-md {
        padding: 0;
      }

      @include md {
        flex-direction: column;
      }

      li:hover {
        cursor: pointer;
      }
    }

    .socials {
      display: flex;
      gap: 20px;

      @include md {
        align-items: center;
      }

      .social {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #7c7c7c;
        transition: scale .2s ease-in;

        &:hover {
          scale: 1.1;
          cursor: pointer;
        }
      }
    }
  }
}
