<section class="contacts">
    <div class="content">
        <p class="motto">EMPOWER, GROW, SUSTAIN: TRANSFORMING RURAL FUTURES</p>

        <h1>Need More Information? Contact Us</h1>

        <p class="mission">Akuafo Adamfo is dedicated to empowering farmers with the tools, knowledge, and support they need to overcome challenges and achieve sustainable success</p>

        <app-button text="Send us an email" />

        <p class="copyright">&copy;{{year}}, Akuafo Adamfo</p>

    </div>

    <footer>
        <img src="assets/images/logo2.svg" alt="" class="logo">

        <nav>
            <ul>
                <li>Services</li>
                <li>About Us</li>
                <li>Contact</li>
            </ul>
        </nav>

        <div class="socials">
            <div class="social">
                <img src="assets/images/instagram.svg" alt="">
            </div>
            <div class="social">
                <img src="assets/images/youtube.svg" alt="">
            </div>
            <div class="social">
                <img src="assets/images/facebook.svg" alt="">
            </div>
            <div class="social">
                <img src="assets/images/linkedin.svg" alt="">
            </div>
        </div>
    </footer>
</section>