<section class="hero">
    <img src="assets/images/hero.png" alt="" class="hero_bg">

    <div class="hero_overlay"></div>

    <div class="overlay_text">
        <h1>Empowering Farmers & Cultivating Success: <br>Your Partner in Sustainable Farming Solutions.</h1>

        <p>Explore a wealth of innovative tools, expert advice, and personalized support designed to help you overcome challenges, increase productivity, and thrive in today's ever-evolving agricultural landscape.</p>

        <app-button text="Request Assistance" />
    </div>
</section>