// colors
$primary-bg: #149800;
$primary-bg-hover: #127700;
$error: #F04438;

// font sizes
$--12px: 0.75rem;
$--14px: 0.875rem;
$--18px: 1.125rem;
$--20px: 1.25rem;
$--24px: 1.5rem;
$--32px: 2rem;
$--42px: 2.625rem;
$--48px: 3rem;
$--52px: 3.25rem;

