<section class="cta">
    <img src="assets/images/cta.png" alt="" class="cta_bg" loading="lazy">

    <div class="cta_bg_overlay"></div>

    <div class="cta_overlay_text">
        <h1>Ready to Take Your Farm to the Next Level?</h1>

        <p>Start cultivating your farm’s future today. Click the button below to request personalized assistance and discover how Akuafo Adamfo can help you reach your goals.</p>

        <app-button text="Request Assistance" (clickEvent)="handleRequestAssistance()" />
    </div>
</section>