@import '@/styles/_variables.scss';
@import '@/styles/_breakpoints.scss';

.cta {
  position: relative;
  height: 386px;

  @include max-md {
    height: 250px;
  }

  .cta_bg {
    width: 100%;
    height: 386px;
    object-fit: cover;

    @include max-md {
      height: 250px;
    }
  }

  .cta_bg_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .cta_overlay_text {
    position: absolute;
    top: 50%;
    left: 40px;
    translate: 0 -50%;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include max-md {
      height: 100%;
      top: 0;
      translate: 0;
      padding: 15px 20px;
      gap: 10px;
      left: 0;
    }

    h1 {
        font-size: $--32px;
        margin: 0;

        @include max-md {
          font-size: $--20px;
          // margin: 14px 0 0;
        }
    }

    p {
        font-size: 1rem;
        line-height: $--32px;
        width: 50%;
        margin: 0;

        @include max-md {
          font-size: $--14px;
          line-height: $--24px;
          width: 100%;
        }
    }
  }
}
