@import "@/styles/_breakpoints.scss";
@import "@/styles/_variables.scss";

@mixin title_and_description {
  text-align: center;
  margin-bottom: 32px;

  p {
    width: 90%;
    margin: 0 auto;

    @include xxl {
      line-height: $--32px;
    }
  }
}

@mixin small_screen_padding {
  @include max-md {
    padding: 35px 20px;
  }

  @include md {
    padding: 35px 25px;
  }
}
